:root {
    --s:128px;
    --b:  8px;
    --g: 15px;
    --c: #000;
}
 

.pp{
    width: var(--s);
    aspect-ratio: 1;
    outline: none;
    outline-offset: calc(var(--s)/2);
    cursor: pointer;
    transition: 0.3s;
    
}

.pp:hover{
    outline: var(--b) solid var(--c);
    outline-offset: var(--g);
    
}
.pp{
    border-radius: 50%;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
	:root {
        --s:128px;
        --b:  8px;
        --g: 15px;
        --c: #fff;
	}
    .pp{
        width: var(--s);
        aspect-ratio: 1;
        outline: none;
        outline-offset: calc(var(--s)/2);
        cursor: pointer;
        transition: 0.3s;
    }
}

